apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: densecore-monitor
  labels:
    app: densecore
    release: prometheus
spec:
  selector:
    matchLabels:
      app: densecore
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
    scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
    - default
